@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

$moderatecyan: hsl(176, 50%, 47%);
$darkcyan: hsl(176, 72%, 28%);

$black: hsl(0, 0%, 0%);
$darkgrey: hsl(0, 0%, 48%);
$font: 'Commissioner', sans-serif;